/*  your css code here. If applicable */
body{
	height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;
}

div{
	border:2px solid black;
	height:200px;
	width:200px;
	background-color:lightblue;
	color:purple;
	display:flex;
	align-items:center;
	justify-content:center;
	
}